@font-face {
    font-family: meowfont;
    src: url('whacky_joe-webfont.woff'), format('woff2');
}

@font-face {
    font-family: meowparagraph;
    src: url('mintsoda.woff'), format('woff2');
}